//tagsLink标签面包屑样式更改

#app{
   .tagsLink-container{
      width:100%; height: 100%;
      display: flex;
      align-items: center;
   
      $tagsBorder:#dcdfe6;
      $tagsColor:#303133;
      $tagsActiveBorder:#1890ff;
      $tagsActiveColor:#1890ff;
      $tagsActiveBgColor:rgba(24,144,255,.1);
      $tagsHeight:35px;
      $tagsMargin:2px;
   
      .el-tabs{
         width:100%;
      }
      
      .el-tabs__header{
         margin:0;
      }
      .el-tabs--card>.el-tabs__header{
         border-bottom:none;
      }
      .el-tabs--card>.el-tabs__header .el-tabs__nav{
         border:none;
         border-radius: none;
      }
      .el-tabs__nav-next, .el-tabs__nav-prev{
         height:100%;
         width:20px;
         display:flex;
         justify-content: center;
         align-items: center;
         line-height: normal;
      }
   
      .el-tabs__item{
         margin:0 $tagsMargin;
         border:1px solid $tagsBorder !important;
         height:$tagsHeight;
         line-height: $tagsHeight;
         border-radius: 5px;
         color:$tagsColor;
         cursor: pointer;
      }
      .el-tabs__item .tags-icon,.el-tabs__item .tags-font{
         color:$tagsColor;
         display: inline-block;
         vertical-align: middle;
      }
      .el-tabs__item .tags-icon{
         position: relative;
         top: -1px;
      }
      .el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
         border-color:$tagsActiveBorder !important;
         background:$tagsActiveBgColor;
      }
      .el-tabs__item:hover,.el-tabs__item:hover span{
         border-color:$tagsActiveBorder !important;
         color:$tagsActiveColor;
      }
      .el-tabs__item .el-icon-close:hover{
         background: $tagsActiveColor;
         color:#fff;
      }
      
      .el-tabs__nav .el-tabs__item:first-child .el-icon-close{
         display: none;
      }
   
      .el-tabs__content{
         display: none;
      }
   
   }
}